@define-color bar-bg rgba(34,48,34,0);
@define-color main-bg rgba(34,48,34,0.8);
@define-color main-fg rgba(170,240,170,0.8);
@define-color wb-act-bg rgba(141,164,114,0.4);
@define-color wb-act-fg rgba(232,255,204,1);
@define-color wb-hvr-bg rgba(78,125,75,0.4);
@define-color wb-hvr-fg rgba(188,240,170,0.8);
